.remark-slide-content {
  linear-gradient(to bottom, white 90%, rgba(225, 61, 61) 100%) ;
  background-position: 2% 98%, center ;
  background-size: 70px, cover ;
  font-size: 19pt;
  color: #e13d3d;
  font-family: Sans-Serif;
}

.remark-slide-content h1 {
  color: #e13d3d;
  font-weight: bold;
  font-size: 34pt;
  font-family: Sans-Serif;
}

.remark-slide-content h2{
  color: #e13d3d;
  font-weight: bold;
  font-size: 32pt;
  font-family: Sans-Serif;
}

.remark-slide-content h3 {
  color: #e13d3d;
  font-weight: bold;
  font-size: 30pt;
  font-family: Sans-Serif;
}


.title-slide {
  background-image: url('./header.png'), linear-gradient(to bottom, #e13d3d 1%, rgba(225, 61, 61) 20%)  ;
  background-position: 3% 3%, 100% 100% ;
  background-size: 250px, 100% 81% ;
  font-family: Sans-Serif;
}

.title-slide h1 {
  color: #ffffff;
  font-weight: bold;
  font-size: 20pt;
  margin-top: 16%;
  font-family: Sans-Serif;
}

.title-slide h2 {
  font-weight: normal;
  color: #ffffff;
  font-size: 5pt
  font-family: Sans-Serif;
}

.title-slide h3 {
  color: #ffffff;
  font-size: 15pt;
  font-weight: normal;
  font-family: Sans-Serif;
}

.chapter-slide {
  linear-gradient(to bottom, #e13d3d 1%, rgba(225, 61, 61) 95%) ;
  background-position: 10px 590px , center;
  background-size: 0px, cover ;
  font-family: Sans-Serif;
}

.chapter-slide h1 {
  position: absolute;
  top: 55%;
  left: 10%;
  text-align: left;
  color: #e13d3d;
  font-size: 34pt;
  font-family: Sans-Serif;
}

.chapter-slide h2 {
  font-size: 32pt;
  color: #e13d3d ;
  font-family: Sans-Serif;
}

/* Two-column layout */
.left-column {
  width: 40%;
  float: left;
  margin-top: -30px;
}

.right-column {
  width: 58%;
  float: right;
  margin-top: -30px;
}

.pull-left {
  float: left;
  width: 47%;
  margin-top: -30px;
}
.pull-right {
  float: right;
  width: 47%;
  margin-top: -30px;
}

.remark-code, .remark-inline-code {
  font-size: 15pt;
  font-family: Sans-Serif;

}
